<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>差值表达式</h1>
    <h3>{{ msg }}</h3>
    <h3>{{ count }}</h3>
    <h1>v-text</h1>
    <div v-text="msg"></div>
    <h1>v-model</h1>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
    <p v-html="htmlValue"></p>
    <button v-on:click="addCount" >单击</button>
    <button v-on:dblclick="changeValue" >双击</button>
  </div>
  <script src="./js/dep.js"></script>       
  <script src="./js/watcher.js"></script>
  <script src="./js/compiler-expend.js"></script>
  <script src="./js/observer.js"></script>
  <script src="./js/vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        msg: 'Hello Vue',
        count: 100,
        person: { name: 'zs' },
        htmlValue:'<h1 style="color:red">v-html指令</h1>'
      },
      methods:{
        addCount(){
          this.count = ++this.count;
          console.log('this.count=',this.count)
        },
        changeValue(){
          console.log('双击双击')
        }
      }
    })
    // vm.htmlValue='<h1>4444</h1>'
    // console.log(vm)
  </script>
</body>
</html>